@font-face {
    font-family: 'Hanken Grotesk';
    src: url('./assets/fonts/HankenGrotesk-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Hanken Grotesk';
    src: url('./assets/fonts/HankenGrotesk-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Hanken Grotesk';
    src: url('./assets/fonts/HankenGrotesk-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --very-light-blue: #ECF2FF;
    --light-blue: #CAC9FF;
    --red: hwb(0 33% 0%);
    --yellow: #FFB21E;
    --blue: #1125D6;
    --green: #00BB8F;
    --dark-navy: #303B59;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #fff;
    font-family: "Hanken Grotesk";
    display: grid;
    place-items: center;
    min-height: 100svh;
}

h1,h2,h3 {
    margin: 0;
}

main {
    max-width: 736px;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
    padding-bottom: 24px;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: var(--light-blue);
}

h2 {
    color: #fff;
    font-family: Hanken Grotesk;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

p {
    font-weight: 500;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.result {
    border-radius: 0px 0px 32px 32px;
    background: var(--Gradient-1, linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%));
    box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 57px 40px;
    color: var(--light-blue);
}

.total-score {
    background: var(--Gradient-2, linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%));
    display: inline-block;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    width: 140px;
    border-radius: 100vh;
    margin: 24px 0;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 72px;
    padding: 24px;
    color: #fff;
    & .total {
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        color: var(--light-blue);
        opacity: 0.5168;
    }
}

.summary {
    padding: 24px 32px 0;

}

.title {
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 700;
    color: var(--dark-navy);
}

ul {
    list-style: none;
    padding: 0;
    margin: 24px 0 0;
}
li {
    border-radius: 12px;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    justify-content: flex-start;
    margin-bottom: 16px;
    & .score {
        margin-left: auto;
        color: var(--dark-navy);
        font-size: 16px;
        font-weight: 700;
    }
    & .total {
        opacity: 0.5;
    }
    &:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: red;
        margin-right: 12px;
        background: url("./assets/images/icon-reaction.svg") center center/100% 100% no-repeat;
    }
    &:nth-child(1) {
        color: var(--red);
        background-color: color-mix(in srgb, var(--red) 5%, white);
    }
    &:nth-child(2) {
        color: var(--yellow);
        background-color: color-mix(in srgb, var(--yellow) 5%, white);
        &:before {
            background-image: url("./assets/images/icon-memory.svg");
        }
    }
    &:nth-child(3) {
        color: var(--green);
        background-color: color-mix(in srgb, var(--green) 5%, white);
        &:before {
            background-image: url("./assets/images/icon-verbal.svg");
        }
    }
    &:nth-child(4) {
        color: var(--blue);
        background-color: color-mix(in srgb, var(--blue) 5%, white);
        &:before {
            background-image: url("./assets/images/icon-visual.svg");
        }
    }
}

button {
    border-radius: 128px;
    background: var(--dark-navy);
    border: none;
    height: 56px;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-top: 24px;
}

footer {
    color: var(--dark-navy);
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 5px;
    width: 100%;
    & a {
        color: inherit;
    }
}

@media (min-width: 700px) {
    main {
        flex-direction: row;
        border-radius: 32px;
        padding-bottom: 0;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 32px;
    }
    p {
        font-size: 18px;
    }
    .result {
        width: 50%;
        border-radius: 32px;
        padding: 38px 57px 46px
    }
    .total-score {
        width: 200px;
        font-size: 72px;
        line-height: 72px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .summary {
        width: 50%;
        padding: 38px 40px 46px
    }
    .title {
        font-size: 24px;
    }
    ul {
        margin-top: 28px;
    }
    li {
        font-size: 18px;
        & .score {
            font-size: 18px;
        }
    }
    button {
        font-size: 18px;
        font-weight: 700;
        &:hover, &:focus {
            background: var(--Gradient-1, linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%));
            cursor: pointer;
            outline: none;
        }
    }
}